
/*_________________________________________________________Element influant sur l'ensemble des pages ____________________________________________________*/

*,*:before,*:after{box-sizing: border-box;}


*
{
	margin: 0;
	text-decoration: none;
}
a:hover
{
	color: red;
}


body
{
	background-image: url(img/fd1.jpg);
	padding-top: 20px;

}
/*_____________________________________________________________Partie Header____________________________________________________________________________________*/
header
{
	position: relative;
	height: 90px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	background-color: white;
	border-radius: 10px;
	border: 2px solid #0EC801;
}

.headerText
{
	display: inline-block;
	margin-top: 25px;
	padding-left: 20px;

}

.headerButton
{
	position: absolute;
	padding-left: 600px;
	padding-top: 12px;
	top: 0px;
}
 
 
.headerButton li
{
	list-style-type: none;
}


.headerSO
{
	position: absolute;
	width: 70px;
	right: 40px;
	padding-top: 25px;
	top: 0px;
	z-index: 1;
}
/* _______________________________________________gears = ecrou simple / gearsAd ecrou lorsque l'on est connecter en tant qu'administrateur_________________________________________  */
.gears
{
	position: absolute;
	top: 20px;
	right: 125px;
}

.gearsAd
{

	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
	position: absolute;
	top: 20px;
	right: 125px;
}
.gearsAD:hover  
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

/*______________________________________________________________________________________________________________________________________________________________________________________*/

header .pic 
{
	float: left;
	padding-top: 13px;
	padding-left: 15px;
	width: 70px;
	height: 70px;
}

section
{
	display: inline-block;
	width: 475px;
	max-height: 1200px;
	min-height: 382px;
	float :right;
	background-color: white;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 2px solid #0EC801;
	padding-bottom: 20px;

}

.page
{
	width: 800px;
	margin-right: auto;
	margin-left : auto;
}

article
{
	padding: 10px;
}

.partie1
{
	position: relative;
	padding-bottom: 10px;
}
.topic
{
	position: relative;
}
.editer /*btn Modificaiton de posts*/
{
	position: absolute;
	right: 50px;
	top: 21.5px;
	border-radius: 50%;
	width: 22px;
	height: 22px;

}
.editer:hover
{
	
	border-radius: 50%;
	width: 25px;
	height: 25px;

}
.suppression /*btnsuppression posts*/
{
	position: absolute;
	right: 10px;
	top: 20px;
	border-radius: 50%;
	width: 25px;
	height: 25px;
}
.suppression:hover
{
	
	border-radius: 50%;
	width: 28px;
	height: 28px;
}
.suppressionT /*btnsuppression topic*/
{
	background-repeat: no-repeat;
	position: absolute;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	right: -25px;
	bottom: 0px;
}
.suppressionT:hover
{

	background-repeat: no-repeat;
	position: absolute;
	border-radius: 50%;
	width: 27px;
	height: 27px;
}

/*______________________________________________________________Utile sur la page "listemembre uniquement"______________________________________________________*/
.MBdy
{
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-right: 200px;l

}
.suppressionLogs
{
	position: relative;	
}
.suppressionLogsBdy
{
	padding-right: 500px;
	padding-top: 130px;
}
.suppressionLogs h1
{
	text-align: center;
}
.suppressionLogs li
{
	border-radius: 10px;
	background-color: #f0f8ff;
	list-style-type: none;
	margin-right: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
}
.suppressionLogsBtn
{
	background-repeat: no-repeat;
	position: absolute;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	right: 35px;
	top: 18px;
}
.suppressionLogsBtn:hover
{
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 27px;
	height: 27px;
}
.assignAdmin
{
	background-repeat: no-repeat;
	position: absolute;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	right: 36.5px;
	top: 50px;
}
.assignAdmin:hover
{
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 24px;
	height: 24px;	
}
.unAssignAdmin
{
	background-repeat: no-repeat;
	position: absolute;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	right: 35px;
	top: 50px;
}
.unAssignAdmin:hover
{
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 27px;
	height: 27px;	
}
.annonce
{
	text-align: center;
	color: red;
	padding-top: 5px;
}

.logs /*_____________________influe sur l'affichage des informations relative aux personnes enregistré sur la page "listemembre.php" ______________________________________*/
{
	position: relative;
	margin-top: 15px;
	padding-top: 10px;


}
/*_______________________________________________ boutons retour des pas listemembre / connexion / register______________________________________________________________*/
.retourTxt
{
	position: absolute;
	bottom: 12px;
	right: 51px;
	font-size: 12px;

}
.retour
{
	position: absolute;
	bottom: 0px;
	right: 6px;
	width: 35px;
	height: 35px;
}
.retour:hover
{
	width: 40px;
	height: 40px;
}
.sect .retourTxt
{
	position: absolute;
	bottom: 12px;
	left: 51px;
	font-size: 12px;

}
.sect .retour
{
	position: absolute;
	bottom: 0px;
	left: 6px;
	font-size: 10px;
	width: 35px;
	height: 35px;
}
.sect .retour:hover
{
	width: 40px;
	height: 40px;
}
/*_______________________________________________________________________________________________________________________________________________________________________*/

.partie1 img
{
	display: inline-block;
	padding-right: 30px; 
}

.partie1 p
{
	display: inline-block;
	padding-right: 30px;
	vertical-align: top;
	padding-top: 25px; 
}

.partie2
{
	padding-top: 5px;
}


article textarea
{
	width: 100%;
	max-width: 100%
}

.update 
{
	position: relative;
	height: 50px;
	width: 450px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	background-color: #4169E1;
	border-radius: 10px;
}


.update h2
{
	padding-left: 10px;
	padding-top: 7px;
}



aside
{
	width: 290px;
	position: relative;
	float: left;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #0EC801;
	padding-bottom: 20px;
	margin-bottom: 20px;
	min-height: 382px;
	max-height: 382px;
}

aside h1
{
	margin-bottom: 10px;
	padding-top: 10px;

}

aside li
{
	padding-bottom: 15px;
	padding-right: 50px;
	list-style-type: none;
}
aside ul
{
	padding-top: 10px;
}


.menu
{
	float: right;

}
.ajouterParent
{
	position: relative;
}
.ajouter
{
	position: absolute;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	right: 28px;
	bottom: 0px;
}
.ajouter:hover
{
	width: 22px;
	height: 22px;

}

/*___________________________________________________________ .btn -----> Bouton submit et edit des Posts _______________________________________________________*/


.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  float: right;

}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
/*_________________________________________________________________Poster affiher sur l'acceuil_____________________________________________________________*/
.minions
{
	width: 81.25%;
	
}
.poster
{
	
	min-height: 200px;
	float: right;
	position: relative;
	border-radius: 10px;
	border: 2px solid #0EC801;
	
	 
}

.poster div
{
	padding-left: 30px; 

}
.poster p
{
	position: absolute;
	bottom: 20px;
	font-size: 25px;
	right: 50px;
}
.topicUtilise
 {
 	padding-left: 0px;
 	color: red;
 	width: 900px;
 	text-align: center;
 }
/*_______________________________________________________Utilisé dans les pages d'enregistrement et de connection_____________________________________________*/


.body{
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	background-image: url(img/fd1.jpg);
}
.title{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 40px;
	color: #0EC801;
}
.liste{
	list-style-type: none;
	text-align: center;
	margin: 0px;
	padding-left: 0px;
	padding-top: 50px;
}
.sect{
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	min-height: 400px;
	border-radius: 10px;
	display: block;
	border: 2px solid green;
	float: none;
	position: relative;
}
.sub{
	width: 70px;
	margin-top: 10px;
}
.minion{
	width: 200px;
	margin-right: 0px;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.mignon{
	width: 200px;
	margin-right: 0px;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.erreurMdp /*___________________________________________________________________Texte si mauvais Identifiants________________________________________________*/
{
	font-size: 20px;
	color: red;
	padding-bottom: 20px; 
	margin-top: -20px;
}
.enregistre /*_______________________________________________ Texte validant linscription se trouve sur la page de conneciton __________________________________*/
{
	padding-bottom: 20px;
	margin-top: -20px; 
}
.sect p.tropCourt /*_______________________________________Tout les textes de rapport d'erreur/fautes d'enregistrement sur la page register_______________________*/
{
	color: red;
	text-align: center;
}

/*recherche*/
.posterRech
{
	position: relative;
	text-align: center;
}
.recherche
{
	position: absolute;
	bottom: -70px;
	background-color: white;
	border-radius: 10px;
	border: solid 2px #0EC801;
	width: 290px;
	height: 35px;
	padding-bottom: 30px;
}
.rechercheBtn
{

	position: absolute;
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	right: -55px;
	bottom: -4px;
}
.rechercheForm
{
	position: absolute;
	bottom: 5px;
	left: 5px;
}
.topicRech
{
	
}
.resultatRech
{
}
.topicTrouve
{
	padding-top: 50px;
}