*
{
	margin: 0;
	text-decoration: none;
}


body
{
	background-color: #DCDCDC;
}

header
{
	height: 90px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 70px;
	background-color: white;
}

.headerText
{
	display: inline-block;
	margin-top: 13px;
	padding-left: 20px;
	margin-right: 290px;
}

.headerButton
{
	display: inline-block;
	padding-top: 20px;
	padding-right: 20px;
}

.headerButton p
{
	display: inline-block;
	float: right;
	font-size: 24px;
	padding-top: 12px;
	padding-left: 10px;
}

header .pic 
{
	float: left;
	padding-top: 13px;
	padding-left: 15px;
}

section
{
	display: inline-block;
	width: 475px;
	min-height: 800px;
	float :right;
	background-color: white;
}

.page
{
	width: 800px;
	margin-right: auto;
	margin-left : auto;
}

article
{
	padding: 10px;
}

.partie1
{
	padding-bottom: 20px;
}

.partie1 img
{
	display: inline-block;
	padding-right: 30px; 
}

.partie1 p
{
	display: inline-block;
	padding-right: 30px;
	vertical-align: top;
	padding-top: 25px; 
}

.partie2
{
	padding-top: 5px;
}

article textarea
{
	width: 100%;
	max-width: 100%
}

.update 
{
	height: 50px;
	width: 450px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	background-color: #4169E1;
}

.update h2
{
	display: inline-block;
	padding-left: 5px;
	margin-right: 180px;
}

.update img
{
	padding-left: 30px;
	padding-top: 10px;
}

aside
{
	width: 290px;
	position: relative;
	float: left;
	background-color: white;
	text-align: center;
}

aside h1
{
	margin-bottom: 20px;
	padding-top: 10px;

}

aside li
{
	padding-bottom: 15px;
	padding-right: 50px;
	list-style-type: none;
}


.menu
{
	float: right;

}

.ajouter
{
	background-image: url("img/fondBtn.png");
	width: 140px;
	height: 51px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 10px;
}


.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  float: right;

}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
